<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>

    </head>
    <body>
        <hader>
            <img src="/img/logo.png" alt="MeadowLark Logo">
        </hader>
        {{{body}}}
    </body>
</html>